@tailwind base;
@layer base {
  h1 {
    @apply text-2xl;
    @apply font-bold;
    @apply mt-4;
    @apply mb-4;
  }
  h2 {
    @apply text-xl;
    @apply font-bold;
    @apply mt-4;
    @apply mb-4;
  }
  h3 {
    @apply text-lg;
    @apply font-bold;
    @apply mb-4;
    @apply mb-0;
  }
  a {
    @apply text-blue-600 underline;
    @apply cursor-pointer;
  }
}
@tailwind components;
@tailwind utilities;

[contenteditable]:focus {
  outline: 0px solid transparent;
}

/* :root {
  --text: rgb(0, 0, 0);
  --text-light: rgb(110, 110, 110);
  --background: rgb(255, 255, 255);
} */

details > summary {
  border-radius: "5px";
  cursor: pointer;
  padding: .5rem .75rem;
}

details > summary > * {
  display: inline;
}
details > div {
  margin-top: 0;
  padding: 0.5rem 1rem 0.5rem 1rem;
  font-size: 0.85em;
}

summary::-webkit-details-marker, 
details summary::marker {
  display: none;
  content: "";
}

summary.more::after {
  font-size: 0.8em;
  margin-left: 6px;
  padding: 2px 0px;
  white-space: break-spaces;
  color: #007AFF;
  content: ' Read More';
}
details[open] summary.more:after {
  content: " Read Less";
}
summary:not(.more) {
  pointer-events: none;
}
.MuiCheckbox-root {
  pointer-events:all;
}

.learningContent h2 {
  width: 100%;
}

li {
  display: list-item;
  list-style: disc;
  list-style-type: disc; 
  margin-bottom: 10px; 
  line-height: 1.25em;
}
ul {	
  display: block;
  list-style-type: disc;
  margin-bottom: 1 em;
  margin-left: 0;
  margin-right: 0;
  padding-left: 1em;
}

html {
  font-family: -apple-system, BlinkMacSystemFont, "Roboto", sans-serif;
  overflow: hidden;
  border: none;
  display: flex;
  justify-content: center;
}
.Heading {
  font-size: 1.75em;
  padding-bottom: 20px;
  height: 150px;
  background: rgb(129, 192, 255);
  padding: 20px;
  display: grid;
  align-items: center;
  place-items: center;
  color: rgba(255, 255, 255, 0.8);
}

.Screen {
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  max-width: 1024px;
  justify-content: left;
}

.Container {
  justify-content: center;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* max-width: 414px; */
  padding-top: 5px;
  margin: 0 auto;
  height: 85vh;
  overflow-x: hidden;
  overflow-y: scroll;
  align-content: stretch;
  align-items: stretch;
}
.Container::-webkit-scrollbar {
  display: none;
}

.MyBalance {
  margin: 0px 10px;
}

.HeaderControls svg {
  transform: scale(1.5);
}

.Heading1 {
  width: 100vw;
  padding: 10px 0px 0px 0px;
  font-size: 1em;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}
.Card {
  padding: 15px;
  position: relative;
  width: 100%;
  line-height: 1.35em;
}

.CardClose {
  width: 35px;
  height: 35px;
  border-radius: 20px;
  background: rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--text-light);
  cursor: pointer;
}

.CategoryCardIcon {
  width: 85px;
  height: 85px;
  opacity: 1;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  margin-bottom: 7px;
  position: absolute;
  top: 20px;
  right: -35px;
}

.CategoryCardIcon svg {
  transform: scale(2.5) rotate(0deg);
  opacity: 0.15;
  color: white;
}
.PageCardContainer {
  position: fixed;
  top: 120vh;
  min-height: 100vh;
  transition: 0.2s ease-in-out;
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.PageCard {
  border-radius: 20px 20px 0 0;
  border: 1px solid rgba(0, 0, 0, 0.05);
  /* box-shadow: 0px 0px 40px 1px rgba(0, 0, 0, 0.3); */
  height: 100vh;
  overflow: scroll;
  width: auto;
}
.PageCard h1 {
  font-size: 1.4em;
}
.PageCardContent {
  padding: 20px;
}
.pageClose {
  width: 35px;
  height: 35px;
  border-radius: 20px;
  background: rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 15px;
  right: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  cursor: pointer;
}
.PageCloseBg {
  width: 100%;
  height: 10vh;
  background: rgba(255, 255, 255, 0.3);
  position: absolute;
  top: -5vh;
  left: 0px;
  z-index: -1;
}

.PageIcon {
  color: white;
  mix-blend-mode: overlay;
  opacity: 0.2;
  position: relative;
  top: 25px;
}
.PageIcon svg {
  transform: scale(7) rotate(0deg);
}

.MuiFormControlLabel-root {
  padding-bottom: 10px;
}

/* Styles for scrollbar */
.slides::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
.slides::-webkit-scrollbar-thumb {
  background: #007AFF;
  border-radius: 5px;
}
.slides::-webkit-scrollbar-track {
  background: #DDD;

}
@media (min-width: 1024px) {
  .MuiModal-root .MuiBackdrop-root  {
    backdrop-filter: blur(10px);
  }
}